.categoryContainer{
    padding-block: 40px;
    padding-inline: 2rem;
}
.categoryContainer h2{
    margin-left: 36px;
}
.category{
    display: flex;
    align-items: center;
}
.projects{
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    position: relative;
    scrollbar-width: none;
}
.project{
    width: 300px;
    /* height: 340px; */
    border-radius: 4px;
    display: inline-block;
    margin-inline: 8px;
    overflow: hidden;
    margin-inline: 18px;
    box-shadow: 0px 5px 10px 0px rgba(202,202,202,0.75);
-webkit-box-shadow: 0px 5px 10px 0px rgba(202,202,202,0.75);
-moz-box-shadow: 0px 5px 10px 0px rgba(202,202,202,0.75);
}
.projectImage{
    width: 300px;
    height: 300px;
}
.project img{
    height: 90%;
    width: 100%;
    display: block;
    object-fit: cover;
}
.project .username{
    font-size: 12px;
    color: gray;
}
.project .lowerPart{
    display: flex;
    gap: 10px;
    margin-inline: 10px;
    margin-bottom: 10px;
}
.project .lowerPart .text{
    display: flex;
    flex-direction: column;
}
.project .lowerPart .text .cat{
    font-size: 14px;
}
.project .lowerPart .profilePic{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}
.profilePic img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}