.profPic{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.navContainer{
    background-color: #013914;
    color: white;
    transition: .7s all ease;
    position: sticky;
    top: 0;
    z-index: 99;
}
.active{
    /* background-color: white; */
    background-color: #013914;
    /* color:black; */
    color: white;
    padding-block: 10px;
}
.link h3{
    font-size: 1.5rem;
}
hr{
    height: 0;
    border-width: 0.4px;
    border-style: solid;
    border-color: green;
}
nav{
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
    gap: 14px;
}
ul{
    display: flex;
    align-items: center;
    gap: 14px;
    
}
ul li{
    text-decoration: none;
    list-style: none;
}
nav h3{
    margin: 0;
    padding: 0;
}
.links button{
    background: none;
    border: 1px solid whitesmoke;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.navContainer.active button{
    color: green;
    border: 1px solid green;
}
.menu{
    padding-inline: 10rem;
    display: flex;
    justify-content: space-between;
    padding-block-end: 10px;
}
ul span.userLink{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.userLink .optionsActive{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 10px 24px;
    gap: 4px;
    position: absolute;
    top: 120%; 
    width: 100px;
    left: -40%;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.menu{
    font-size: small;
}